
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

#RewriteRule (.*)\.css css/$1.css [NC,L]
#RewriteRule (.*)\.js js/$1.js [NC,L]

RewriteRule ^.*$ index.php [NC,L]
